{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="shortcut icon" href="" type="image/x-icon">
  <link rel="stylesheet" href="{% static "pagina_como_chegar/css/parques.css" %}">
  <link rel="stylesheet" href="{% static "Home/css/header_footer.css" %}" />
  <title>{% trans "Parques" %}</title>
  
</head>

<body>
  <header class="header-home">
      <div class="logo-senac-home">
        <img src="{% static "Home/img/senac_home.webp" %}" alt="logo senac" />
      </div>

      <div class="wrappercontainer">
        <nav class="header_nav">
          <ul>
            <li>
              <a href="{% url 'home' %}">{% trans 'Inicio' %}</a>
            </li>
            <li>
              <a href="{% url 'como_chegar' %}">{% trans 'Como Chegar' %}</a>
            </li>
            <li>
              <a href="{% url 'eventos' %}">{% trans 'Eventos' %}</a>
            </li>
            <li>
              <a class='dropdown-toggle'>{% trans 'Configuração' %}</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="logo-app-home">
        <img src="{% static "Home/img/veroTur_logo.webp" %}" alt="logo verotur" />
      </div>
  </header>

  <main class="ch-main-container">
    <div class="title-details">
      {% if categoria.nome == "Restaurantes" %}
          <i class="material-icons-outlined">restaurant</i>
      {% elif categoria.nome == "Shoppings" %}
          <i class="material-icons-outlined">local_mall</i>
      {% elif categoria.nome == "Atrações" %}
          <i class="material-icons-outlined">attractions</i>
      {% elif categoria.nome == "Parques" %}
          <i class="material-icons-outlined">nature_people</i>
      {% elif categoria.nome == "Prédios" %}
          <i class="material-icons-outlined">location_city</i>
      {% elif categoria.nome == "Praças" %}
          <i class="material-icons-outlined">park</i>
      {% elif categoria.nome == "Ilhas" %}
          <i class="material-icons-outlined">beach_access</i>
      {% elif categoria.nome == "Museus" %}
          <i class="material-icons-outlined">museum</i>
      {% elif categoria.nome == "Igrejas" %}
          <i class="material-icons-outlined">church</i>
      {% elif categoria.nome == "Terminais" %}
          <i class="material-icons-outlined">directions_bus</i>
      {% else %}
          <i class="material-icons-outlined">question_mark</i>
      {% endif %}
      <h1>{{ categoria.nome }}</h1>
    </div>
    
  
    <section class="container">
      <!-- Primeira coluna -->
      <div class="column">
        {% for ponto in page_obj.object_list|slice:":3" %}
          <article class="card">
            <div class="image-btn">
              <div class="image-container">
                <img src="{{ ponto.imagem.url }}" alt="{{ ponto.nome }}">
                <div class="card-title">
                  <span>{{ ponto.nome }}</span>
                  <div>
                    <i class="material-icons expand-icon">expand_more</i>
                  </div>
                </div>
              </div>
              <div class="btn-smais">
                <span>Saiba mais</span>
              </div>
            </div>
            <div class="card-content">
              <div class="tab-buttons">
                <button class="tab-btn active" content-id="descricao-{{ ponto.id }}">
                  <i class="material-icons-outlined">description</i>
                </button>
                <button class="tab-btn" content-id="endereco-{{ ponto.id }}">
                    <i class="material-icons-outlined">pin_drop</i>
                </button>
                <button class="tab-btn" content-id="horarios-{{ ponto.id }}">
                  <i class="material-icons-outlined">schedule</i>
                </button>
                <button class="tab-btn" content-id="valores-{{ ponto.id }}">
                  <i class="material-icons-outlined">paid</i>
                </button>
              </div>
  
              <div class="tab-contents">
                <div class="content" id="descricao-{{ ponto.id }}">
                  <div class="infos">
                    <h1 class="content-title">Descrição</h1>
                    <p class="content-description">
                      {{ ponto.descricao }}
                    </p>
                  </div>
                </div>
  
                <div class="content" id="endereco-{{ ponto.id }}">
                  <div class="infos">
                    <h1 class="content-title">Endereço</h1>
                    <p class="content-description">
                      {{ ponto.endereco }}
                    </p>
                  </div>
                </div>
  
                <div class="content" id="horarios-{{ ponto.id }}">
                  <div class="infos">
                    <h1 class="content-title">Horários</h1>
                    <p class="content-description">
                      {{ ponto.horarios_funcionamento }}
                    </p>
                  </div>
                </div>
  
                <div class="content" id="valores-{{ ponto.id }}">
                  <div class="infos">
                    <h1 class="content-title">Valores</h1>
                    <p class="content-description">
                      {{ ponto.lugares_pagos }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-rota">
              <a href="https://maps.google.com/?q={{ ponto.latitude }},{{ ponto.longitude }}" target="_blank">
                <i class="material-icons-outlined">mode_of_travel</i>
                Rota
              </a>
            </div>
          </article>
        {% endfor %}
      </div>
  
      <!-- Segunda coluna -->
      <div class="column">
        {% for ponto in page_obj.object_list|slice:"3:6" %}
          <article class="card">
            <!-- Conteúdo do ponto turístico -->
            <div class="image-btn">
              <div class="image-container">
                <img src="{{ ponto.imagem.url }}" alt="{{ ponto.nome }}">
                <div class="card-title">
                  <span>{{ ponto.nome }}</span>
                  <div>
                    <i class="material-icons expand-icon">expand_more</i>
                  </div>
                </div>
              </div>
              <div class="btn-smais">
                <span>Saiba mais</span>
              </div>
            </div>
            <div class="card-content">
              <div class="tab-buttons">
                <button class="tab-btn active" content-id="descricao-{{ ponto.id }}">
                  <i class="material-icons-outlined">description</i>
                </button>
                <button class="tab-btn" content-id="endereco-{{ ponto.id }}">
                    <i class="material-icons-outlined">pin_drop</i>
                </button>
                <button class="tab-btn" content-id="horarios-{{ ponto.id }}">
                  <i class="material-icons-outlined">schedule</i>
                </button>
                <button class="tab-btn" content-id="valores-{{ ponto.id }}">
                  <i class="material-icons-outlined">paid</i>
                </button>
              </div>
  
              <div class="tab-contents">
                <div class="content" id="descricao-{{ ponto.id }}">
                  <div class="infos">
                    <h1 class="content-title">Descrição</h1>
                    <p class="content-description">
                      {{ ponto.descricao }}
                    </p>
                  </div>
                </div>
  
                <div class="content" id="endereco-{{ ponto.id }}">
                  <div class="infos">
                    <h1 class="content-title">Endereço</h1>
                    <p class="content-description">
                      {{ ponto.endereco }}
                    </p>
                  </div>
                </div>
  
                <div class="content" id="horarios-{{ ponto.id }}">
                  <div class="infos">
                    <h1 class="content-title">Horários</h1>
                    <p class="content-description">
                      {{ ponto.horarios_funcionamento }}
                    </p>
                  </div>
                </div>
  
                <div class="content" id="valores-{{ ponto.id }}">
                  <div class="infos">
                    <h1 class="content-title">Valores</h1>
                    <p class="content-description">
                      {{ ponto.lugares_pagos }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-rota">
              <a href="https://maps.google.com/?q={{ ponto.latitude }},{{ ponto.longitude }}" target="_blank">
                <i class="material-icons-outlined">mode_of_travel</i>
                Rota
              </a>
            </div>
          </article>
        {% endfor %}
      </div>
  
      <!-- Terceira coluna -->
      <div class="column">
        {% for ponto in page_obj.object_list|slice:"6:9" %}
          <article class="card">
            <!-- Conteúdo do ponto turístico -->
            <div class="image-btn">
              <div class="image-container">
                <img src="{{ ponto.imagem.url }}" alt="{{ ponto.nome }}">
                <div class="card-title">
                  <span>{{ ponto.nome }}</span>
                  <div>
                    <i class="material-icons expand-icon">expand_more</i>
                  </div>
                </div>
              </div>
              <div class="btn-smais">
                <span>Saiba mais</span>
              </div>
            </div>
            <div class="card-content">
              <div class="tab-buttons">
                <button class="tab-btn active" content-id="descricao-{{ ponto.id }}">
                  <i class="material-icons-outlined">description</i>
                </button>
                <button class="tab-btn" content-id="endereco-{{ ponto.id }}">
                    <i class="material-icons-outlined">pin_drop</i>
                </button>
                <button class="tab-btn" content-id="horarios-{{ ponto.id }}">
                  <i class="material-icons-outlined">schedule</i>
                </button>
                <button class="tab-btn" content-id="valores-{{ ponto.id }}">
                  <i class="material-icons-outlined">paid</i>
                </button>
              </div>
  
              <div class="tab-contents">
                <div class="content" id="descricao-{{ ponto.id }}">
                  <div class="infos">
                    <h1 class="content-title">Descrição</h1>
                    <p class="content-description">
                      {{ ponto.descricao }}
                    </p>
                  </div>
                </div>
  
                <div class="content" id="endereco-{{ ponto.id }}">
                  <div class="infos">
                    <h1 class="content-title">Endereço</h1>
                    <p class="content-description">
                      {{ ponto.endereco }}
                    </p>
                  </div>
                </div>
  
                <div class="content" id="horarios-{{ ponto.id }}">
                  <div class="infos">
                    <h1 class="content-title">Horários</h1>
                    <p class="content-description">
                      {{ ponto.horarios_funcionamento }}
                    </p>
                  </div>
                </div>
  
                <div class="content" id="valores-{{ ponto.id }}">
                  <div class="infos">
                    <h1 class="content-title">Valores</h1>
                    <p class="content-description">
                      {{ ponto.lugares_pagos }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-rota">
              <a href="https://maps.google.com/?q={{ ponto.latitude }},{{ ponto.longitude }}" target="_blank">
                <i class="material-icons-outlined">mode_of_travel</i>
                Rota
              </a>
            </div>
          </article>
        {% endfor %}
      </div>
    </section>

    <!-- Navegação por páginas -->
    <div class="pagination">
      <ul>
          {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo; Anterior</a></li>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
          <li class="{% if page_obj.number == num %} active {% endif %}">
              <a href="?page={{ num }}">{{ num }}</a>
          </li>
          {% endfor %}

          {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">Próximo &raquo;</a></li>
          {% endif %}
      </ul>
    </div>
  </main>


  <!-- Menu footer -->
  <div class="navigation">
    <ul>
      <li class="list">
        <a href="{% url "home" %}">
          <span class="icon"><i class="item-link-footer fa-solid fa-house"></i></span>
          <span class="text">Home</span>
        </a>
      </li>
      <li class="list">
        <a href="{% url "eventos" %}">
          <span class="icon"><i class="item-link-footer fa-regular fa-calendar-days"></i>
          </span>
          <span class="text">Eventos</span>
        </a>
      </li>
      <li class="list">
        <a href="#">
          <span class="icon"><i class="fa-solid fa-map-location-dot"></i></span>
          <span class="text">Mapa</span>
        </a>
      </li>
      <li class="list active">
        <a href="{% url "como_chegar" %}">
          <span class="icon"><i class="item-link-footer fa-solid fa-location-dot"></i></span>
          <span class="text">Como Chegar</span>
        </a>
      </li>
      <li class="list">
        <a class="dropdown-toggle">
          <span class="icon"><i class=" fa-solid fa-gear"></i></span>
          <span class="text">Ajuste</span>
        </a>
      </li>
      <div class="indicator"></div>
    </ul>
  </div>

  <ul class="dropdown-menu">
    <li class="idiomas">
      <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="language" type="hidden" value="pt-br">
        <input name="next" type="hidden" value="{{ request.path }}">
        <button type="submit" style="border: none; background: none; color: #fff; display: flex; align-items: center; justify-content: center;">
          <img src="{% static 'Home/img/brasil.png' %}" alt="Português (Brasil)" />
          {% trans "Português (Brasil)" %}
        </button>
      </form>
    </li>
    <li class="idiomas">
      <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="language" type="hidden" value="en">
        <input name="next" type="hidden" value="{{ request.path }}">
        <button type="submit" style="border: none; background: none; color: #fff; display: flex; align-items: center; justify-content: center;">
          <img src="{% static 'Home/img/engles.png' %}" alt="Inglês (EUA)" />
          {% trans "Inglês (EUA)" %}
        </button>
      </form>
    </li>
    <li class="idiomas">
      <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="language" type="hidden" value="es">
        <input name="next" type="hidden" value="{{ request.path }}">
        <button type="submit" style="border: none; background: none; color: #fff; display: flex; align-items: center; justify-content: center;">
          <img src="{% static 'Home/img/espanha.png' %}" alt="Espanhol (Espanha)" />
          {% trans "Espanhol (Espanha)" %}
        </button>
      </form>
    </li>
    <li class="version">{% trans "Versão 0.1.24" %}</li>
  </ul>



 <!-- Menu footer do deskitop -->

 <div class="container-desk">
  <footer class="footer-desk">
    <div class="logo-senac-footer">
      <a href="https://www.pa.senac.br/">
        <img src="{% static "Home/img/senac_footer.png" %}" />
      </a>
    </div>

    <div class="direitos_footer">
      <p>{% trans '© Todos os Direitos Reservados - 2025' %}</p>
    </div>
    <div class="rede_logo">
      <div class="logo-app-footer">
        <a href="https://www.facebook.com/senacpara/">
          <img src="{% static "Home/img/facebook.png" %}" />
        </a>
      </div>

      <div class="logo-app-footer">
        <a href="https://www.instagram.com/senac_pa/">
          <img src="{% static "Home/img/instagram.png" %}" />
        </a>
      </div>
    </div>
  </footer>
</div>

  <script src="{% static "Home/js/config.js" %}"></script>
  <script src="{% static "pagina_como_chegar/js/sanfona_ponto.js" %} "></script>
  <script src="{% static "pagina_como_chegar/js/ponto_conteudo.js" %} "></script>
  <script src="{% static "Home/js/script.js" %}"></script>
</body>
</html>