{% load static %}
{% load cache %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{% static 'Home/img/veroTur_logo.webp' %}" type="image/x-icon" />
  <title>{% trans 'Verotur' %}</title>
  <link rel="stylesheet" href="{% static 'Home/css/nova_home.css' %}" />
  <link rel="stylesheet" href="{% static 'Home/css/header_footer.css' %}" />
  <link rel="manifest" href="{% static 'manifest.json' %}">
  <link rel="stylesheet" href="{% static 'style/map.css' %}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,100,0,200" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div id="splash-screen">
    <img class="splash-img" src="{% static "Home/img/veroTur_logo-pwa.jpg" %}" alt="logo carregamento">
    <p class="splash-p">{% trans 'Carregando...' %}</p>
  </div>

  <div id="pwa" style="display: none;">
    <header class="header-home">
      <div class="logo-senac-home">
        <img src="{% static 'Home/img/senac_home.webp' %}" alt="#" />
      </div>
      <p></p>
      <div class="wrappercontainer">
        <nav class="header_nav">
          <ul>
            <li>
              <a href="{% url 'home' %}">{% trans 'Inicio' %}</a>
            </li>
            <li>
              <a href="{% url 'como_chegar' %}">{% trans 'Como Chegar' %}</a>
            </li>
            <li>
              <a href="{% url 'eventos' %}">{% trans 'Eventos' %}</a>
            </li>
            <li>
              <a href="#">{% trans 'Configuração' %}</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="logo-app-home">
        <img src="{% static 'Home/img/veroTur_logo.webp' %}" alt="" />
      </div>
    </header>


    <!-- Mapa -->
    {% cache 900 google_maps_script %}
    <div id="map" style="height: 500px; width: 80%"></div>
    <!-- Carregar o JavaScript do Google Maps API -->
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfLW4X31fejTXVD1jg7P0G35m9cDWyE6g&callback=initMap"></script>

    <script src="{% static 'scripts/map.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
    {% endcache %}



    <!-- Marketing -->
    <section class="marketing"></section>

    <!-- listas marajoara -->

    <section class="container-listra">
      <div class="listra">
        <h2 class="section_title">{% trans 'Categorias' %}</h2>
        <img src="{% static 'Home/img/lista.webp' %}" alt="listar" />
      </div>
    </section>

    <!-- Categorias - -->
    <section class="container-cards">
      <div class="main-card">
        {% for categoria in categorias %}
        <div class="box-card">
          <a href="{% url 'pontos_por_categoria' categoria.id %}" class="card-link">
            <div class="card card{{ forloop.counter }}">
              <div class="conteudo">
                {% if categoria.nome == "Restaurantes" %}
                <i class="material-symbols-outlined">restaurant</i>
                {% elif categoria.nome == "Shoppings" %}
                <i class="material-symbols-outlined">local_mall</i>
                {% elif categoria.nome == "Atrações" %}
                <i class="material-symbols-outlined">attractions</i>
                {% elif categoria.nome == "Parques" %}
                <i class="material-symbols-outlined">nature_people</i>
                {% elif categoria.nome == "Prédios" %}
                <i class="material-symbols-outlined">location_city</i>
                {% elif categoria.nome == "Praças" %}
                <i class="material-symbols-outlined">park</i>
                {% elif categoria.nome == "Ilhas" %}
                <i class="material-symbols-outlined">beach_access</i>
                {% elif categoria.nome == "Museus" %}
                <i class="material-symbols-outlined">museum</i>
                {% elif categoria.nome == "Igrejas" %}
                <i class="material-symbols-outlined">church</i>
                {% elif categoria.nome == "Terminais" %}
                <i class="material-symbols-outlined">directions_bus</i>
                {% else %}
                <i class="material-symbols-outlined">question_mark</i>
                {% endif %}
              </div>
            </div>
            <h5>{% trans categoria.nome %}</h5>
          </a>
        </div>
        {% endfor %}
      </div>
    </section>


    <!-- listas marajoara -->

    <section class="container-listra">
      <div class="listra">
        <h2 class="section_title">{% trans 'Sugestões' %}</h2>
        <img src="{% static 'Home/img/lista.webp' %}" alt="listar" />
      </div>
    </section>

    <section class="cards-home">
      <div class="card-home">
        <img src="{% static 'Home/img/forte_do_presepio_mobile.png' %}" alt="Praia" />
        <div class="card-home-content">
          <h3>{% trans 'Forte do Presépio' %}</h3>
          <div class="card-home-btns">
            <a
              href="https://www.google.com/maps/place/Forte+do+Pres%C3%A9pio/@-1.4543647,-48.5052375,17z/data=!3m1!4b1!4m6!3m5!1s0x92a48ef1a132f8d5:0xff1a071f7388a0ed!8m2!3d-1.4543647!4d-48.5052375!16s%2Fg%2F122zd8n3?entry=ttu&g_ep=EgoyMDI0MTAwMi4xIKXMDSoASAFQAw%3D%3D"><span
                class="material-symbols-outlined">moved_location</span>Rota</a>
            <a href="#"><span class="material-symbols-outlined">tab_new_right</span>{% trans 'Detalhes' %}</a>
          </div>
          <!-- <p>Descubra praias paradisíacas e relaxe ao som do mar.</p> -->
        </div>
      </div>
      <div class="card-home">
        <img src="{% static 'Home/img/estacao_doca_desktop_trem_mobile.png' %}" alt="Montanha" />
        <div class="card-home-content">
          <h3>{% trans 'Estação das Docas' %}</h3>
          <div class="card-home-btns">
            <a
              href="https://www.google.com/maps/place/Esta%C3%A7%C3%A3o+das+Docas/@-1.4501764,-48.5016305,17.25z/data=!4m14!1m7!3m6!1s0x92a48ef1a132f8d5:0xff1a071f7388a0ed!2sForte+do+Pres%C3%A9pio!8m2!3d-1.4543647!4d-48.5052375!16s%2Fg%2F122zd8n3!3m5!1s0x92a48f8e824de2d5:0xc3ab0136dae42ab4!8m2!3d-1.4490679!4d-48.5001115!16s%2Fg%2F120nqhk3?entry=ttu&g_ep=EgoyMDI0MTAwMi4xIKXMDSoASAFQAw%3D%3D"><span
                class="material-symbols-outlined">moved_location</span>Rota</a>
            <a href="#"><span class="material-symbols-outlined">tab_new_right</span>{% trans 'Detalhes' %}</a>
          </div>
          <!-- <p>Desafie-se em trilhas e montanhas de tirar o fôlego.</p> -->
        </div>
      </div>
      <div class="card-home">
        <img src="{% static 'Home/img/ver_o_peso_mobile.png' %}" alt="Cidade" />
        <div class="card-home-content">
          <h3>{% trans 'Ver-O-Peso' %}</h3>
          <div class="card-home-btns">
            <a
              href="https://www.google.com/maps/place/Mercado+Ver-o-Peso/@-1.4501764,-48.5016305,17.25z/data=!4m14!1m7!3m6!1s0x92a48ef1a132f8d5:0xff1a071f7388a0ed!2sForte+do+Pres%C3%A9pio!8m2!3d-1.4543647!4d-48.5052375!16s%2Fg%2F122zd8n3!3m5!1s0x92a48eedffb60aaf:0xdd2ca66005639d12!8m2!3d-1.4523651!4d-48.5037509!16s%2Fm%2F03wd6nt?entry=ttu&g_ep=EgoyMDI0MTAwMi4xIKXMDSoASAFQAw%3D%3D"><span
                class="material-symbols-outlined">moved_location</span>Rota</a>
            <a href="#"><span class="material-symbols-outlined">tab_new_right</span>Detalhes</a>
          </div>
          <!-- <p>Explore grandes cidades e sua cultura vibrante.</p> -->
        </div>
      </div>
    </section>

    <!-- listas marajoara -->

    <section class="container-listra">
      <div class="listra">
        <h2 class="section_title">{% trans "Principais Eventos" %}</h2>
        <img src="{% static 'Home/img/lista.webp' %}" alt="listar" />
      </div>
    </section>

    <main class="main-event">
      <section class="event-section-container">
        <!-- <div class="section-container"> -->
        <!-- Card 1 -->
        <div class="card-web">
          <img src="{% static 'Eventos/img/Círio.jpeg' %}" alt="..." class="card-image-web" />
          <div class="card-body-web">
            <h1 class="card-title-web">{% trans "Círio de Nazaré" %}</h1>
            <p class="card-text-web">
              {% trans "O Círio de Nazaré é uma das maiores festas religiosas do Brasil, realizada em Belém do Pará, em
              homenagem a Nossa Senhora de Nazaré." %}
              <span>{% trans "Local:" %}</span>{% trans "Centro De Belém" %}
              <span>{% trans "Periodo:" %}</span>{% trans "Mês de Outubro" %}
            </p>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="card-web">
          <img src="{% static 'Eventos/img/Arraial_do_Pavulagem.webp' %}" alt="..." class="card-image-web" />
          <div class="card-body-web">
            <h1 class="card-title-web">{% trans "Arraial da Pavulagem" %}</h1>
            <p class="card-text-web">
              {% trans "O Arraial da Pavulagem é uma tradicional festa junina realizada em Belém do Pará, celebrando a
              cultura popular com música, danças e comidas típicas." %}
              <span>{% trans "Local" %}:</span>{% trans "Varanda Superior do Cojan" %}
              <span>{% trans "Periodo" %}:</span> {% trans "Mês de Junho" %}
            </p>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="card-web">
          <img src="{% static 'Eventos/img/feira_livro.png' %}" alt="..." class="card-image-web" />
          <div class="card-body-web">
            <h1 class="card-title-web">{% trans "Feira do Livro" %}</h1>
            <p class="card-text-web">
              {% trans "A programação conta com diversas ações e atividades de cultura, entre elas, rodas de conversas,
              saraus, encontros literários, peças teatrais infantis e contação de histórias." %}
              <span>{% trans "Local" %}:</span>{% trans "Hangar Convenções Feiras da Amazônia" %}
              <span>{% trans "Periodo" %}:</span> {% trans "De 17 a 25 de agosto de 2024" %}
            </p>
          </div>
        </div>
      </section>
    </main>

    <!-- Menu footer -->
    <footer class="footer-menu-home">
      <nav class="nav-footer-home">
        <ul class="lista-item-home">
          <li class="list-footer">
            <a class="link-footer" href="{% url 'home' %}"><i class="item-link-footer fa-solid fa-house"></i></a>
          </li>
          <li class="list-footer">
            <!-- Eventos -->
            <a class="link-footer" href="{% url 'eventos' %}"><i
                class="item-link-footer fa-regular fa-calendar-days"></i></a>
          </li>
          <li class="list-footer">
            <!-- como chegar -->
            <a class="link-footer" href="{% url 'como_chegar' %}"><i
                class="item-link-footer fa-solid fa-location-dot"></i></a>
          </li>
          <li class="list-footer">
            <a class="link-footer dropdown-toggle"><i class="item-link-footer fa-solid fa-gear"></i></a>
          </li>
        </ul>
      </nav>
    </footer>

    {% comment %} <ul class="dropdown-menu">
      <li class="idiomas">
        <img src="{% static 'Home/img/brasil.png' %}" alt="Português (Brasil)" />{% trans "Português (Brasil)" %}
      </li>
      <li class="idiomas">
        <img src="{% static 'Home/img/engles.png' %}" alt="Inglês (EUA)" />{% trans "Inglês (EUA)" %}
      </li>
      <li class="idiomas">
        <img src="{% static 'Home/img/espanha.png' %}" alt="Espanhol (Espanha)" />{% trans "Espanhol (Espanha)" %}
      </li>
      <li class="version">{% trans "Versão 0.1.24" %} </li>
    </ul> {% endcomment %}

    <ul class="dropdown-menu">
      <li class="idiomas">
        <form action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
          <input name="language" type="hidden" value="pt-br">
          <input name="next" type="hidden" value="{{ request.path }}">
          <button type="submit" style="border: none; background: none;">
            <img src="{% static 'Home/img/brasil.png' %}" alt="Português (Brasil)" />
            {% trans "Português (Brasil)" %}
          </button>
        </form>
      </li>
      <li class="idiomas">
        <form action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
          <input name="language" type="hidden" value="en">
          <input name="next" type="hidden" value="{{ request.path }}">
          <button type="submit" style="border: none; background: none;">
            <img src="{% static 'Home/img/engles.png' %}" alt="Inglês (EUA)" />
            {% trans "Inglês (EUA)" %}
          </button>
        </form>
      </li>
      <li class="idiomas">
        <form action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
          <input name="language" type="hidden" value="es">
          <input name="next" type="hidden" value="{{ request.path }}">
          <button type="submit" style="border: none; background: none;">
            <img src="{% static 'Home/img/espanha.png' %}" alt="Espanhol (Espanha)" />
            {% trans "Espanhol (Espanha)" %}
          </button>
        </form>
      </li>
      <li class="version">{% trans "Versão 0.1.24" %}</li>
    </ul>


    <!-- Menu footer do deskitop -->

    <div class="container-desk">
      <footer class="footer-desk">
        <div class="logo-senac-footer">
          <a href="https://www.pa.senac.br/"><img src="{% static 'Home/img/senac_footer.png' %}" /></a>
        </div>

        <div class="direitos_footer">
          <p>© {% trans "Todos os Direitos Reservados - 2025 "%}</p>
        </div>
        <div class="rede_logo">
          <div class="logo-app-footer">
            <a href="https://www.facebook.com/senacpara/"><img src="{% static 'Home/img/facebook.png' %}" /></a>
          </div>

          <div class="logo-app-footer">
            <a href="https://www.instagram.com/senac_pa/"><img src="{% static 'Home/img/instagram.png' %}" /></a>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <script src="{% static "Home/js/home.js" %}"></script>
  <script src="{% static 'Home/js/config.js' %}"></script>
  <Script src="{% static "service-worker.js" %}"></Script>
</body>
</html>