{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" href="{% static "Home/img/veroTur_logo.webp" %}" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="shortcut icon" href="" type="image/x-icon">
  <!-- <link rel="stylesheet" href="../Home/css/home.css"> -->
  <link rel="stylesheet" href="{% static "Eventos/css/eventos.css" %}">
  <link rel="stylesheet" href="{% static "Home/css/header_footer.css" %}">
  <title>{% trans 'Verotur - Eventos' %}</title>
</head>

<body>
  <header class="header-home">
    <div class="logo-senac-home">
      <img src="{% static "Home/img/senac_home.webp" %}" alt="#" />
    </div>

    <div class="wrappercontainer">
      <nav class="header_nav">
        <div class="wrappercontainer">
          <nav class="header_nav">
            <ul>
              <li>
                <a href="{% url 'home' %}">{% trans 'Inicio' %}</a>
              </li>
              <li>
                <a href="{% url 'como_chegar' %}">{% trans 'Como Chegar' %}</a>
              </li>
              <li>
                <a href="{% url 'eventos' %}">{% trans 'Eventos' %}</a>
              </li>
              <li>
                <a href="#">{% trans 'Configuração' %}</a> 
              </li>
            </ul>
          </nav>
        </div>

    <div class="logo-app-home">
      <img src="{% static "Home/img/veroTur_logo.webp" %}" alt="" />
    </div>
  </header>

  <main class="ch-main-container">
    <div class="title-details">
      <i class="fa-solid fa-calendar-days"></i>
      <h1>{% trans "Eventos" %}</h1>
    </div>

    <!-- Seção com cards -->

    <section class="event-section">
      <!-- <div class="section-container"> -->
      <!-- Card 1 -->
      <div class="card">
        <img src="{% static "Eventos/img/Círio.jpeg" %}" alt="..." class="card-image">
        <div class="card-body">
          <h1 class="card-title">{% trans "Círio de Nazaré" %}</h1>
          <p class="card-text">{% trans "O Círio de Nazaré é uma das maiores festas religiosas do Brasil, realizada em Belém do Pará, em homenagem a Nossa Senhora de Nazaré." %}
            <span>{% trans "Local:" %}</span> {% trans "Centro De Belém." %}
            <span>{% trans "Periodo:" %}</span> {% trans "Mês de Outubro." %}
          </p>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="card">
        <img src="{% static "Eventos/img/Arraial_do_Pavulagem.webp" %}" alt="..." class="card-image">
        <div class="card-body">
          <h1 class="card-title">{% trans "Arraial da Pavulagem" %}</h1>
          <p class="card-text">{% trans "O Arraial da Pavulagem é uma tradicional festa junina realizada em Belém do Pará, celebrando a cultura popular com música, danças e comidas típicas." %}
            <span>{% trans "Local:" %}</span> {% trans "Centro De Belém." %}
            <span>{% trans "Periodo:" %}</span> {% trans "Mês de Junho." %}
          </p>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="card">
        <img src="{% static "Eventos/img/cop_30.jpg" %}" alt="..." class="card-image">
        <div class="card-body">
          <h1 class="card-title">{% trans "COP 30" %}</h1>
          <p class="card-text">{% trans "A COP 30 será um evento que reunirá líderes, ativistas e especialistas de todo o mundo, a conferência abordará questões ambientais, sustentabilidade e ações globais para enfrentar os desafios climáticos." %}
            <span>{% trans "Local:" %}</span>{% trans "A Definir" %}
            <span>{% trans "Periodo:" %}</span> {% trans "Mês de Novembro" %}
          </p>
        </div>
      </div>
      {% trans "" %}
      <!-- Card 4 -->
      <div class="card">
        <img src="{% static "Eventos/img/feira_livro.png" %}" alt="..." class="card-image">
        <div class="card-body">
          <h1 class="card-title">{% trans "Feira Pan-Amazônica do Livro" %}</h1>
          <p class="card-text">{% trans "A Feira Pan-Amazônica do Livro, realizada em Belém do Pará, é um vibrante festival literário que celebra a cultura e a diversidade da Amazônia." %} 
            <span>{% trans "Local:" %}</span>{% trans "Hangar" %}
            <span>{% trans "Periodo:" %}</span> {% trans "Mês de Setembro" %}
          </p>
        </div>
      </div>

      <!-- Card 5 -->
      <div class="card">
        <img src="{% static "Eventos/img/carnaval.jpg" %}" alt="..." class="card-image">
        <div class="card-body">
          <h1 class="card-title">{% trans "Carnaval" %}</h1>
          <p class="card-text">{% trans "O Carnaval de Belém do Pará é uma festa vibrante que une tradições e ritmos da Amazônia. Com desfiles de blocos, máscaras coloridas e danças contagiantes, o evento atrai foliões de todas as idades." %}
            <span>{% trans "Local:" %}</span>{% trans "Varanda Superior do Cojan" %}
            <span>{% trans "Periodo:" %}</span> {% trans "Mês de Fevereiro" %}
          </p>
        </div>
      </div>

          
    </section>
  </main>

 <!-- Menu footer -->
 <div class="navigation">
  <ul>
    <li class="list active">
      <a href="{% url "home" %}">
        <span class="icon"><i class="item-link-footer fa-solid fa-house"></i></span>
        <span class="text">Home</span>
      </a>
    </li>
    <li class="list">
      <a href="{% url "eventos" %}">
        <span class="icon"><i class="item-link-footer fa-regular fa-calendar-days"></i>
        </span>
        <span class="text">Eventos</span>
      </a>
    </li>
    <li class="list">
      <a href="#">
        <span class="icon"><i class="fa-solid fa-map-location-dot"></i></span>
        <span class="text">Mapa</span>
      </a>
    </li>
    <li class="list">
      <a href="{% url "como_chegar" %}">
        <span class="icon"><i class="item-link-footer fa-solid fa-location-dot"></i></span>
        <span class="text">Como Chegar</span>
      </a>
    </li>
    <li class="list">
      <a class="dropdown-toggle">
        <span class="icon"><i class=" fa-solid fa-gear"></i></span>
        <span class="text">Ajuste</span>
      </a>
    </li>
    <div class="indicator"></div>
  </ul>
</div>

<ul class="dropdown-menu">
  <li class="idiomas">
    <form action="{% url 'set_language' %}" method="post">
      {% csrf_token %}
      <input name="language" type="hidden" value="pt-br">
      <input name="next" type="hidden" value="{{ request.path }}">
      <button type="submit" style="border: none; background: none; color: #fff; display: flex; align-items: center; justify-content: center;">
        <img src="{% static 'Home/img/brasil.png' %}" alt="Português (Brasil)" />
        {% trans "Português (Brasil)" %}
      </button>
    </form>
  </li>
  <li class="idiomas">
    <form action="{% url 'set_language' %}" method="post">
      {% csrf_token %}
      <input name="language" type="hidden" value="en">
      <input name="next" type="hidden" value="{{ request.path }}">
      <button type="submit" style="border: none; background: none; color: #fff; display: flex; align-items: center; justify-content: center;">
        <img src="{% static 'Home/img/engles.png' %}" alt="Inglês (EUA)" />
        {% trans "Inglês (EUA)" %}
      </button>
    </form>
  </li>
  <li class="idiomas">
    <form action="{% url 'set_language' %}" method="post">
      {% csrf_token %}
      <input name="language" type="hidden" value="es">
      <input name="next" type="hidden" value="{{ request.path }}">
      <button type="submit" style="border: none; background: none; color: #fff; display: flex; align-items: center; justify-content: center;">
        <img src="{% static 'Home/img/espanha.png' %}" alt="Espanhol (Espanha)" />
        {% trans "Espanhol (Espanha)" %}
      </button>
    </form>
  </li>
  <li class="version">{% trans "Versão 0.1.24" %}</li>
</ul>
  <!-- Menu footer do deskitop -->

  <div class="container-desk">
    <footer class="footer-desk">
      <div class="logo-senac-footer">
        <a href="https://www.pa.senac.br/">
          <img src="{% static "Home/img/senac_footer.png" %}" />
        </a>
      </div>

      <div class="direitos_footer">
        <p>{% trans "© Todos os Direitos Reservados - 2025" %}
          
        </p>
      </div>
      <div class="rede_logo">
        <div class="logo-app-footer">
          <a href="https://www.facebook.com/senacpara/">
            <img src="{% static "Home/img/facebook.png" %}" />
          </a>
        </div>

        <div class="logo-app-footer">
          <a href="https://www.instagram.com/senac_pa/">
            <img src="{% static "Home/img/instagram.png" %}" />
          </a>
        </div>
      </div>
    </footer>
  </div>

  <script src="{% static "Home/js/config.js" %}"></script>
  <script src="{% static 'Home/js/script.js' %}"></script>
  <script src="{% static 'Home/js/script.js' %}"></script>
</body>

</html>