:root {
  --primary-color: #20448C;
  --second-color: #086CB4;
  --threeth-color: #008CDB;
  --fourth-color: #0286EA;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* CODIGO DO BODY */
/* body {
  margin: 0;
  padding: 0;
  height: 100vh;
} */
.ch-main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 0.5rem;
}

.title-details i {
  font-size: 1.9rem;
  color: var(--threeth-color);
}

.title-details h1 {
  margin: 0;
  font-size: 2.6rem;
  color: var(--threeth-color);
  text-transform: uppercase;
}

/* Estilos para os cards ------------------------------------------------------------------------------------------------------------------------------------------- */

.event-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  gap: 15px;
  margin-bottom: 3rem;
}

.card {
  border-radius: 0.8rem;
  border: solid 1px var(--threeth-color);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 20rem;
  max-width: 600px;
  display: flex;
  overflow: hidden;
}

.card-image {
  width: 40%;
  object-fit: cover;
}

.card-body {
  padding: 1.6rem 1rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  font-size: 1.6rem;
  color: black;
}

.card-text {
  text-align: justify;
  font-size: 1.2rem;
  color: rgb(102, 102, 102);
  margin-top: 0.8rem;
  white-space: pre-line; /* Aplica a quebra de linha de acordo com o conteudo Html */
}

.card-text span {
  font-weight: bold;
}




/* Estilos para Desktop */
@media (min-width: 1024px) {
  
  body{
    background-image: url(../../viagem\ branca.jpg);
    background-repeat: no-repeat ;
    background-size: cover; 
  }
  .title-details {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 0.5rem;
  }
  
  .title-details i {
    font-size: 2.9rem;
    color: var(--threeth-color);
  }
  
  .title-details h1 {
    margin: 0;
    font-size: 3.6rem;
    color: var(--threeth-color);
    text-transform: uppercase;
  }

  .event-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    gap: 15px;
    margin-bottom: 3rem;
  }

  /* Estilos para os cards ------------------------------------------------------------------------------------------------------------------------------------------- */

  .card {
    max-width: 700px;
    height: 25rem;
  }

  /* .card-image {
    width: 50%;
  } */

  .card-title {
    font-size: 2.4rem;
  }

  .card-text {
    font-size: 1.5rem;
  }

}