/* :root {
  --primary-color: #279ca9;
    --second-color: #1d8b98;
    --threeth-color: #147a87;
    --fourth-color: #0a6875;
    --fifth-color: #005764;
} */

:root {
  --primary-color: #20448C;
  --second-color: #086CB4 ;
  --threeth-color: #008CDB ;
  --fourth-color: #0286EA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 400 62.5% 'Inter', sans-serif;
}


header {
  display: flex;
  justify-content: space-between;
  background-color: var(--threeth-color);
  padding: 30px;
}



footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  color: white;
}

footer nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

footer nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}

footer nav ul li a:hover {
  /* background-color: #006666; */
  border-radius: 5px;
}

.item-link-footer {
  color: var(--threeth-color);
}

/* Media Queries */
@media (min-width: 992px) and (max-width: 1199px) {
 
}
/* Tablets pequenos */
@media (min-width: 768px) and (max-width: 991px) {

  /* footer */
  .footer-menu-home {
      width: 100%;
      position: sticky;
      background-color: azure;
  }

  .nav-footer-home {
      background-color: #ffffff;
      padding: 1em;
  }

  .lista-item-home {
      display: flex;
      justify-content: space-around;
  }

  .list-footer {
      list-style: none;
  }

  .link-footer {
      text-decoration: none;
      display: flex;
  }

  .item-link-footer {
      font-size: 1.5rem;
  }
  

}

@media (min-width: 481px) and (max-width: 767px) {

}

/* Mobile */
@media (max-width: 480px) {
/* header */
  header {
    width: 100%;
  }

  /* footer */
  .footer-menu-home {
      width: 100%;
      position: sticky;
      background-color: azure;
  }

  .nav-footer-home {
      background-color: #ffffff;
      padding: 1rem;
  }

  .lista-item-home {
      display: flex;
      justify-content: space-around;
  }

  .list-footer {
      list-style: none;
  }

  .link-footer {
      text-decoration: none;
      display: flex;
  }

  .item-link-footer {
      font-size: 2rem;
  }

}

@media (min-width: 12000px) and (max-width: 1919px) {
  footer{
    display: none;
  }  

}