


:root {
  --primary-color: #20448C;
  --second-color: #086CB4;
  --threeth-color: #008CDB;
  --fourth-color: #0286EA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 400 62.5% 'Inter', sans-serif;
  
}


.header-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--threeth-color);
  padding: 2rem;
}

.wrappercontainer, .container-desk {
  display: none;
}

.footer-menu-home {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: var(--threeth-color);
}

.nav-footer-home {
  padding: 1rem;
}

.lista-item-home {
  display: flex;
  justify-content: space-around;
  list-style: none;
}


.link-footer {
  padding: 10px;
  display: inline-block;
}

.item-link-footer {
  font-size: 2rem;
  color: #ffffff;
}

/* Media Queries ----------------------------------------------- */
/* Tablets pequenos */
@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 481px) and (max-width: 767px) {}



/* / Desktops / */
@media (min-width: 1024px) {
  /* Header para desktop ----------------------------------------*/
  .header-home {
    height: 10rem;
  }

  .logo-senac-home, .logo-app-home {
    width: 8.0rem;
    height: 5.0rem;
  }

  .logo-senac-home img, .logo-app-home img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
  }
  
  .wrappercontainer {
    display: block;
    width: 50%;
  }

  .header_nav a {
    font-size: 2rem;
    padding: 1rem 1rem;
    text-decoration: none;
    color: rgb(226, 226, 226);
    border: solid 1px transparent;
    transition: transform 0.3s;
    display: inline-block;
  }

  .header_nav a:hover {
    border-radius: 5px;
    border-color: var(--primary-color);
    transform: scale(1.05);
    background-color: var(--second-color);
  }

  .header_nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }

  

  
  


  /* Footer para desktop -------------------------------------- */
  .footer-menu-home {
    display: none;
    
  }

  .container-desk {
    display: block;
    
  }

  .footer-desk {
    font-size: 1.8rem;
    text-align: center;
    padding: 4.5rem;
    background-color: var(--second-color);
    
  }

  .footer-desk img {
    color: #ffffff;
    width: 70px;
    height: auto;
    
  }


}