:root {
    --primary-color: #20448C;
    --second-color: #086CB4;
    --threeth-color: #008CDB;
    --fourth-color: #0286EA;
    --fifth-color: #cf8b64;
    --sixth-color: #c9655c;
    --seventh-color: #7EB6D9;
    --eighth-color: #b6d871;
    --ninth-color: #6c8091;
    --tenth-color: #5dc088;
    --eleventh-color: #D9B36C;
    --twelfth-color: #bb8e85;
    --thirteenth-color: #b9804a;
    --fourteenth-color: #dd7b83;
}

.main_home {
    display: flex;
    flex-direction: column;


}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.map-teste {
    text-align: center;
    margin: 20px;
}

.container-mapa {
    order: -1;
}

#map {
    height: 400px;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
}

.cards-home {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.destaque {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 10px 0 1px 0;
    text-align: center;
}

.linha {
    margin-bottom: 1rem;
    border: 1px solid #147a87;
}

.card-home {
    background-color: white;
    /* margin-bottom: 15px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: solid 1px var(--threeth-color);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card-home:hover {
    transform: scale(1.05);
}

.card-home img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.8rem;
    color: white;
    background-color: var(--threeth-color);
}

.card-home-content h3 {
    font-size: 1.3rem;
    text-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
}

.card-home-btns {
    display: flex;
    gap: 0.5rem;
}

.card-home-btns a {
    display: flex;
    align-items: center;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--primary-color);
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    border: solid 1px #ffffff;
}

/* Sugestões -------------------------------------------------------------------- */
.conteudo img {
    background-color: azure;
    font-size: 50px;
    padding: 30px 40px;
    border-radius: 10px;
    color: cornflowerblue;
}

.lugar-home {
    width: 400px;
}

.conteudo-hm img {
    background-image: url(/Home/img/forte_do_presepio_mobile.png);
    background-size: cover;
    width: 100%;
}


.wrappertela {
    display: none;

}

/* listra marajoara ------------------------------ */
.container-listra {
    margin: 0 auto;

}

.section_title {
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
    font-weight: 550;
    font-style: normal;

}

.listra {
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    align-items: center;
}

.listra img {
    width: 350px;
}

.mapa-listra {
    display: none;
}

/* Categorias ----------------------------------------------- */
/* joy27.09cards.css*/

.container-cards {
    display: flex;
    justify-content: center;
}

.main-card {
    margin: 0 0.5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.box-card {
    /* flex: 1; */
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.card {
    /* background-color: white; */
    width: 5.5rem;
    height: 6rem;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: solid 1px var(--threeth-color);
}


/* Altera cor de fundo dos cards */
.card1 {
    background-color: var(--fifth-color);
}

.card2 {
    background-color: var(--sixth-color);
}

.card3 {
    background-color: var(--seventh-color);
}

.card4 {
    background-color: var(--eighth-color);
}

.card5 {
    background-color: var(--ninth-color);
}

.card6 {
    background-color: var(--tenth-color);
}

.card7 {
    background-color: var(--eleventh-color);
}

.card8 {
    background-color: var(--twelfth-color);
}

.card9 {
    background-color: var(--thirteenth-color);
}

.card10 {
    background-color: var(--fourteenth-color);
}

/* Faz a âncora cobrir todo o card */
.card-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

/* Quando o card é clicado */
.card.active-card {
    border-radius: 30px;
    transform: none;
    background-color: rgb(29, 225, 231);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
}

.conteudo i {
    color: #ffffff;
    font-size: 5rem;

}

.box-card h5 {
    margin: 0 auto;
    color: var(--primary-color);
    font-size: 0.9rem;
    text-align: center;
}

/* eventos de cards */

.main-event{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
  /* padding: 0.2rem; */
  margin-bottom: 10rem;
}


.event-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    gap: 15px;
    padding: 10px;
    
}

.card-web {
    border-radius: 0.8rem;
    border: solid 1px var(--threeth-color);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 20rem;
    max-width: 600px;
    display: flex;
    overflow: hidden;
}

.card-image-web {
    width: 40%;
    object-fit: cover;
}

.card-body-web {
    padding: 1.6rem 1rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-title-web {
    font-size: 1.6rem;
    color: black;
}

.card-text-web p {
    font-size: 1.2rem;
    color: rgb(102, 102, 102);
    margin-top: 0.8rem;
    white-space: pre-line;
   
    /* Aplica a quebra de linha de acordo com o conteudo Html */
}

/* barra de pesquisa */

.search-form {
    display: flex;
    margin: 20px auto; 
    max-width: 400px;
    width: 100%;
    gap: 5px;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-button {
    padding: 10px 15px;
    border: none;
    background-color: var(--fourth-color);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: var(--second-color);
}

/* barra de pesquisa fim */


/* Desktops mudanças para web*/
@media (min-width: 1024px) {
    .container-mapa{
        margin: 0 auto;
        width: 84%;
    }

    .cards-home {
        flex-direction: row;
        margin: 0 auto;
        width: 77%;
    }

    /* teste01.10 -----------------------------------------------------------------------*/
    /* joy efeitos do titulos */
    .container-cards {
        display: flex;
        margin: 0 auto;

    }

    .main-card {
        margin: 0 auto;
        width: 77%;
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
        opacity: 90%;
    }

    .card {
        /* padding: 120px; */
        border-radius: 30px;
        background-color: var(--primary-color);
        width: 25rem;
        height: 25rem;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.6);
        border: solid 1px rgba(0, 0, 0, 0.5);
    }

    /* Faz a âncora cobrir todo o card */
    .card-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: inherit;
    }

    /* Quando o card é clicado */
    .card.active-card {
        border-radius: 30px;
        transform: none;
        background-color: rgb(29, 225, 231);
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    .conteudo i {
        display: none;
    }

    .box-card {
        position: relative;
        width: max-content;
    }

    .box-card:hover h5 {
        transform: translateY(0);
        opacity: 0.8;
    }

    .box-card h5 {
        position: absolute;
        background-color: rgb(0, 0, 0, 0.8);
        color: white;
        border-radius: 10px;
        text-transform: uppercase;
        padding: 1em;
        letter-spacing: 2px;
        font-size: 1.5em;
        bottom: 40%;
        opacity: 0;
        transform: translateY(100%);
        transition: all 0.3s ease-in-out;
    }

    .card1 {
        background-size: 100% 100%;
        background-repeat: no-repeat no-repeat;
        background-image: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjk8v_ILYDbCdCt4PPrMbuWLzKRiTilr41xDd5WemxV74f3pqwG28jKS1VDGpsqfPA9NIPtkaHNms4j1S1EiIbjyJa26nYEJ652DCIDNs5_VC62QDP3v2HSuziSE0Qj_VpjRNFVTeEhCk2B/s16000/20210715_171443.jpg);
    }

    .card2 {
        background-size: 100% 100%;
        background-repeat: no-repeat no-repeat;
        background-image: url(https://parawebnews.com/wp-content/uploads/2022/02/261024748_4824267277634566_6869855652376808985_n.jpg);
    }

    .card3 {
        background-size: 100% 100%;
        background-repeat: no-repeat no-repeat;
        background-image: url(https://belem.com.br/images/noticias/7382/06092653_parque.jpg);
    }

    .card4 {
        background-size: 100% 100%;
        background-repeat: no-repeat no-repeat;
        background-image: url(https://s1.wklcdn.com/image_149/4475835/49199493/32836738Master.jpg);
    }

    .card5 {
        background-size: 100% 100%;
        background-repeat: no-repeat no-repeat;
        background-image: url(https://belem.com.br/images/noticias/11096/01063218_complexo-f.jpg);
    }

    .card6 {
        background-size: 100% 100%;
        background-repeat: no-repeat no-repeat;
        background-image: url(https://revistadesign.com/wp-content/uploads/2024/02/Praca-Batista-Campos-em-Belem.webp);
    }

    .card7 {
        background-size: 100% 100%;
        background-repeat: no-repeat no-repeat;
        background-image: url(https://img.jornalcruzeiro.com.br/img/2013/07/12/media/122190_CST140513T007F07.jpg);
    }

    .card8 {
        background-size: 100% 100%;
        background-repeat: no-repeat no-repeat;
        background-image: url(https://educacaoeterritorio.org.br/wp-content/uploads/portal_aprendiz/2016/07/museu4.jpg);
    }

    .card9 {
        background-size: 100% 100%;
        background-repeat: no-repeat no-repeat;
        background-image: url(https://comshalom.org/wp-content/uploads/2023/04/WhatsApp-Image-2023-04-21-at-11.27.24-840x815.jpeg);
    }

    .card10 {
        background-size: 100% 100%;
        background-repeat: no-repeat no-repeat;
        background-image: url(https://static.wixstatic.com/media/63326e_abc6d9521f6e4ce2a2eee6c6417432aa~mv2.jpg/v1/fill/w_740,h_417,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/63326e_abc6d9521f6e4ce2a2eee6c6417432aa~mv2.jpg);
    }

    .conteudo i {
        display: none;
    }

    /* joy01.10cardsfinalizado.quemmudarégayyy */


    /* -------telão------------------------------------------ */
    /* .wrappertela {
        display: block;
        width: 80%;
        height: 695px;
        margin: 0 auto;
        padding-top: 1px;    
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

    }

    .containertela {
        max-width: 20rem;
        margin: 0 auto;


    }


    .wrappertela img {
        width: 100%;
        height: 100%;
        object-fit: inherit;
    } */


    /* listra marajoara ------------------------------ */
    .mapa-listra {
        display: block;
    }

    .container-listra {
        margin: 3rem auto;
        
        

    }

    .section_title {
        text-align: center;
        margin-top: 5rem;
        font-size: 4rem;
        font-weight: 550;
        font-style: normal;

    }

    /* card eventos--------------------------- */
    .event-section-container {
        display: flex;
        flex-direction: row;
        /* justify-content: space-around; */
        align-items: center;
        width: 77%;
    }

    .card-web {
        border-radius: 0.8rem;
        border: solid 1px var(--threeth-color);
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 20rem;
        max-width: 600px;
        display: flex;
        overflow: hidden;
    }

    .card-image-web {
        width: 40%;
        object-fit: cover;
    }

    .card-body-web {
        padding: 1.6rem 1rem;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card-title-web {
        font-size: 1.6rem;
        color: black;
    }

    .card-text-web  {
        font-size: 1.2rem;
        color: rgb(102, 102, 102);
        margin-top: 0.8rem;
        white-space: pre-line;
        /* Aplica a quebra de linha de acordo com o conteudo Html */
    }

    .card-text-web span {
        font-weight: bold;
    }

   



}



/* fim desktop */