:root {
    --primary-color: #20448C;
    --second-color: #086CB4;
    --threeth-color: #008CDB;
    --fourth-color: #0286EA;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header-home, .navigation {
    flex-shrink: 0; /* Fixa a altura do header e do footer */
}


/* barra de pesquisa versao varao  */

.barra-pesquisa {
    width: 95%;
    position: absolute;
    top: 8rem;
    left: 2.5%;
}

.container-barra {
    margin-top: 1rem;
    width: 100%;
    position: relative;
    height: 50px;
}

.container-barra input {
    height: 50px;
    border: none;
    outline: none;
    padding-left: 50px;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    z-index: 3;
    transition: width 1s ease-out;
    cursor: pointer;
}

.container-barra input:focus {
    border: 1px solid var(--second-color);
    border-radius: 25px;
    width: 100%;
    z-index: 1;
    transition: width 1s ease-in;
    backdrop-filter: blur(3px);
}

.container-barra i {
    font-size: 3.0rem;
    color: var(--second-color);
}

.container-barra button {
    height: 50px;
    width: 50px;
    background: url() center no-repeat;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

.container-barra button:focus {
    outline: none;
}

/* esconde o LABEL "Buscar" */
/* label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
} */

/* fim do varao */



/* Mapa */
#map {
    flex-grow: 1; /* Faz o mapa ocupar o restante da altura */
    width: 100%; /* Preenche toda a largura */
    min-height: 300px; /* Caso queira definir uma altura mínima */
}

/* Pop-up do mapa */
.gm-style .gm-style-iw-c {
    background-color: var(--primary-color) !important;
    max-width: 350px !important;
    max-height: 600px !important;
}

.gm-style-iw-d {
    overflow: visible !important;
}

.gm-style .gm-style-iw-tc::after {
    background-color: var(--primary-color);
}

.info-window {
    width: 100%;
    /* font-family: Arial, sans-serif; */
    color: #333;
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.info-title {
    margin: 0;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--primary-color);
}

.info-image {
    height: 20rem;
    width: 100%;
    /* display: block; */
    margin: 0 auto;
    border-radius: 0.4rem;
}

.info-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-descricao {
    text-align: justify;
    margin-bottom: 0.5rem;
}

.content-descricao p {
    
}


.btn-route {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #005764;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-route:hover {
    background-color: #00414f;
}

/* Estilos para dispositivos móveis */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
        margin: 15px 0;
    }

    #map {
        height: 100vh; /* Reduz a altura do mapa em dispositivos móveis */
    }
}

/* Estilos para tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    h1 {
        font-size: 1.75rem;
        margin: 20px 0;
    }

    #map {
        height: 400px; /* Ajusta a altura do mapa para tablets */
    }
}

/* Estilos para desktop */
@media (min-width: 1025px) {
    h1 {
        font-size: 2rem;
        margin: 20px 0;
    }

    #map {
        height: 100vh; /* Altura padrão do mapa para desktops */
    }
}