/* Estilos comuns para web e mobile */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    max-width: 800px; /* ajustado para web */
    margin: 2em auto;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 2em;
}

h1, h2 {
    margin-top: 0;
}

select#gender option[value="Português (Brasil) "] {
    background-image: url('brasil.png');
}

select#gender option[value="Inglês (EUA) "] {
    background-image: url('reino-unido.png');
}

select#gender option[value="Espanhol (Espanha) "] {
    background-image: url('espanha.png');
    background-color: #cccccc;
}

#switch-tema {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

#switch-tema input {
    opacity: 0;
    width: 0;
    height: 0;
}

#switch-tema span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

#switch-tema span:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

#switch-tema input:checked + span {
    background-color: #333;
}

#switch-tema input:checked + span:before {
    transform: translateX(26px);
}

#switch-tema + i {
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: 1.5em;
    color: #666;
}

/* Estilos específicos para mobile */
@media only screen and (max-width: 600px) {
    main {
        max-width: 300px; /* ajustado para mobile */
    }
    #select-idioma {
        font-size: 0.8em;
    }
    #switch-tema {
        width: 40px;
        height: 24px;
    }
    #switch-tema span {
        font-size: 0.8em;
    }
}

/* Tema Escuro */
body.dark {
    background-color: #333;
}

body.dark header {
    background-color: #444;
}

body.dark main {
    background-color: #555;
    color: #fff;
}

body.dark #select-idioma {
    background-color: #444;
    color: #fff;
}