:root {
    --primary-color: #20448C;
    --second-color: #086CB4;
    --threeth-color: #008CDB;
    --fourth-color: #0286EA;
}
/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Fundo leve */
}
.titulo h1 {
    font-size: 1.5em;
    color: #0262c2;
    text-align: center;
    margin-bottom: 20px;
}

.idiomas h2 {
    
    color: var(--primary-color);
    margin-bottom: 15px;
    text-decoration-line: underline;
    text-align: center;
    
}

.idiomas ul {
    list-style: none;
    padding: 0;
    justify-content:space-between;
    gap: 30px;

}


.idiomas li {
    color: white;
    font-size: 18px;
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(184, 23, 23, 0.1);

}

.idiomas li:hover {
    transform: scale(1.05);
}


.version {
    padding: 50px;
    text-align: center;
    

}

.version h1 {
    color: black;
    
}


p {
    color: black;
    font-size: 19px;
    text-align: center;
    text-decoration-line: underline;
}













header {
    padding: 10px;
    
}

section {
    margin: 20px;
    padding: 15px;
    background-color: white; /* Fundo branco para seções */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h1, h2 {
    font-size: 1.0em;
    margin-bottom: 10px;
    color: #333; /* Cor do texto */
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    
}

li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px; /* Área clicável */
    transition: background-color 0.3s; /* Transição suave */
}

li:hover {
    background-color: var(--threeth-color); /* Efeito hover */
}

li img {
    width: 30px; /* Tamanho da imagem */
    height: auto;
    margin-right: 10px;
}




@media (min-width: 1024px) {


    /* Estilo para o título principal */
    .titulo h1 {
        font-size: 2.5em;
        color: #0262c2;
        text-align: center;
        margin-bottom: 20px;

    }

    /* Estilo para o cabeçalho */
    header {
        background-color: var(--threeth-color);
        padding: 20px;
        border-radius: 5px;
        width: 35%;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Estilo para a seção de idiomas */
    .idiomas {
        margin: 30px 1;
        text-align: center;

    }

    /* Estilo para o subtítulo */
    .idiomas h2 {
        font-size: 2em;
        color: white;
        margin-bottom: 15px;
        text-decoration-line: underline;
    }

    /* Estilo para a lista de idiomas */
    .idiomas ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 20px;

    }

    /* Estilo para cada item da lista */
    .idiomas li {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        padding: 10px 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(184, 23, 23, 0.1);

    }

    .idiomas li:hover {
        transform: scale(1.05);
    }

    /* Estilo para as imagens dos idiomas */
    .idiomas li img {
        width: 40px;
        height: 30px;
        margin-right: 10px;
    }

    /* Estilo para o texto dos idiomas */
    .idiomas li {
        font-size: 1.2em;
        color: black;
    }

    /* Versão 0.1.24 */


    .version {
        padding: 50px;
        text-align: center;

    }

    .version h1 {
        color: white;
    }



    p {
        color: rgb(255, 255, 255);
        font-size: 19px;
        text-align: center;
        text-decoration-line: underline;
    }





}