:root {
    --primary-color: #279ca9;
      --second-color: #1d8b98;
      --threeth-color: #147a87;
      --fourth-color: #0a6875;
      --fifth-color: #005764;
  }

body{
    margin: 0;
    padding: 0;
    background-color: var(--second-color);
}
.cbh{
    background-color: var(--fourth-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 15px;
}