:root {
    --primary-color: #279ca9;
    --second-color: #1d8b98;
    --threeth-color: #147a87;
    --fourth-color: #0a6875;
    --fifth-color: #005764;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    font: 400 62.5% 'Inter', sans-serif;
    height: 100%;
}


body {
    /* background-color: var(--fifth-color); */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.container-cards {
    /* border: solid 1px black; */
    flex: 1;
    display: flex;
    justify-content: center;
    

}

.main-card {
    width: 95%;
    /* border: solid 1px blue; */
    display: flex;
    justify-content: space-evenly;
    /* gap: 10px; */
    align-items: center;

}

.card {
    background-color: var(--primary-color);
    width: 140px;
    height: 130px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    border: solid 2px var(--fourth-color);
}

/* Faz a âncora cobrir todo o card */
.card-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

/* Quando o card é clicado */
.card.active-card {
    border-radius: 1rem;
    transform: scale(1.02);
    background-color: aquamarine;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.conteudo i {
    font-size: 40px;
}

.conteudo h5 {
    font-size: 16px;
    margin: 0;
}



/* Mobile */
@media(max-width: 480px) {
    .main-card {
        flex-wrap: wrap;
    }

}

/* Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {
    
}

/* Small tablets */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Large tablets/laptops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Desktops */
@media (min-width: 1200px) and (max-width: 1919px) {

}



/* Mobile Altura */

@media (max-height: 740px) {
    .card {
        height: 110px;
    }
}







