/* styles.css */
/* :root {
    --primary-color: #21a3a3;
    --second-color: #13c8b5;
    --threeth-color: #6cf3d5;
    --fourth-color: #7375a5;
    --fifth-color: #2b364a;
} */

:root {
    --primary-color: #279ca9;
    --second-color: #1d8b98;
    --threeth-color: #147a87;
    --fourth-color: #0a6875;
    --fifth-color: #005764;
}

* {
    box-sizing: border-box;
}

html {
    font: 400 62.5% 'Inter', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Um valor alto para garantir que fique acima de outros elementos */
}

body {
    background-color: var(--fifth-color);
    margin: 0;
    padding: 0;
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.ch-main-container {
    /* margin-top: 2rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.ch-header {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.ch-header h1 {
    font-size: 3.6rem;
    color: white;
    text-transform: uppercase;
    margin: 0;
}

.container {
    width: 60%;
    /* padding: 2rem 0; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card {
    width: 30rem;
    height: 20rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    /* background-color: #279ca985; */
    background-color: #2b364a71;
}


.card-content h2 {
    margin: 0;
    font-size: 1.5rem;
    color: white;
}

.card-content a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: var(--primary-color);
}

.ch-btn-vmais {
    padding: 4rem;
}

.ch-btn-vmais a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    background-color: #6cf3d5;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 1rem;
    text-shadow: 0.4rem 0.4rem 1rem #005764;
}


@media screen and (max-width: 800px) {
    .ch-main-container {
        margin-top: 6rem;
    }
}



/* / Mobile / */
@media(max-width: 480px) {
    .container {
        width: 100%;
    }
}



/* / Small tablets / */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 90%;
        
    }
}



.rodape-ft {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.sociais-ft {
    display: flex;
    gap: 1.2rem;
}

.senac-cop-ft {
    display: flex;
    gap: 1.6rem;
}

.texto-footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
}


