{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pontos Turísticos</title>
    <link rel="stylesheet" href="{% static 'style/map.css' %}">
</head>
<body>
    <div id="map" style="height: 500px; width: 100%;"></div>

    <!-- Carregar o JavaScript do Google Maps API -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfLW4X31fejTXVD1jg7P0G35m9cDWyE6g&callback=initMap"></script>

    <script src="{% static 'js/map.js' %}"></script>
</body>
</html>
