
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --primary-color: #279ca9;
  --second-color: #1d8b98;
  --threeth-color: #147a87;
  --fourth-color: #0a6875;
  --fifth-color: #005764;
}


/* coisas adicionadas hj 29.08 */
.content-title{
    text-align: center;
    font-weight: bold;
    font-size: 50px;

}

.content-description {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif ;
}

.titulo{
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;

    /* margin-bottom: 20px; */
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 255px;
    margin-right: 255px;
    margin-bottom: 50px;

}




.infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-left: 150px;
    color: white; 
    
    
}
/* coisa do botão */
.buttons {
    background-color: var(--fourth-color); /* Roxo */
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;      
    border-radius: 12px; /* Bordas arredondadas */
     /* margin-top: 120px;   */
    
}
  
.buttons:hover {
    background-color: #22add8; /* Verde mais escuro ao passar o mouse */
  }
/* fim do coisa do botão */



  /* coisas adicionadas hj 29.08 */

body {
    background-color: var(--fifth-color);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto;
    
}

#container {
background-color: #f0f8ff;
width: 1400px;
height: 530px;
margin: 0 auto;
padding: 20px;
border-radius: 8px;
box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0,1);
}

.tab-buttons {
    display: flex;
    gap: 6px;
}

.tab-btn {
    width: 100%;
    border: none;
    color: #020617;
    background-color: #f0f8ff;
    border-radius: 8px 8px 0px 0px;
    font-weight: 800;
    padding: 8px;
    cursor: pointer;
    transition: background-color .3s ease;
    font-size: 20px;
}

.tab-btn.active {
    background-color:var(--primary-color);
} 

.tab-btn:hover {
    background-color:var(--second-color);
}

.content {
    display: none;
    box-sizing: border-box;
}

.content.show {
    display: flex;
    gap: 14px;
    background-color: var(--primary-color);
    border-radius: 0px 0px 8px 8px;
    padding: 16px ;
    padding-bottom: 16px;
    padding-top: 16px;
}

.content-img {
    width: 500px;
    height: 370px;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
    /* margin-top: 70px;
    margin-left: 70px; */
    
}

/* ajustes gerais para dispositivos mÃ³veis */
@media (max-width: 600px) {
    #container {
        width: 100%;
        padding: 10px;
    }

    .content-img{
      width: 400px;
      height: 300px;
      margin: 0 auto;
    }


    .tab-buttons {
        flex-direction: column;
        gap: 4px;
    }

    .tab-btn {
        font-size: 14px;
        padding: 10px;
        border-radius: 4px;
    }

    .content {
        flex-direction: column;
        text-align: center;
        padding: 12px;
        box-sizing: content-box;
        
    }

    .infos {
        margin-top: 12px;
        padding: 0;

    }
}

/* ajuste de tela menores de 400px */
@media (max-width: 400px) {
    .tab-btn {
        font-size: 12px;
        padding: 8px;
    }

    .content-description {
        font-size: 14px;
    }
}

