
:root {
  --primary-color: #20448C;
  --second-color: #086CB4;
  --threeth-color: #008CDB;
  --fourth-color: #0286EA;
}


* {
  box-sizing: border-box;
}

/* CODIGO DO BODY */
body {
  background-color: #fff;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
}

.ch-main-container {
  /* margin-top: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-details {
  display: flex;
  justify-content: center;
  padding: 2rem;

}

.title-details h1 {
  margin: 0;
  font-size: 3.6rem;
  color: var(--threeth-color);
  text-transform: uppercase;
}

/* Estilos comuns para os cards ------------------------------------------------------------------------------------------------------------------------------------------- */
.secao {
  margin: 0;
  align-items: center;
  flex: 1;
}

.secao-div {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  text-align: center;


}

/*cards----------------------------------------------------------------------------*/

.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
  /* padding: 1px; */
  border: 1px solid white;
  gap: 5px;
  margin: 10px;
  width: 35rem;
  height: 22rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}

.card-text {
  font-size: 10px;
  text-align: justify;
}

.card-title {
  margin: 1rem auto;
  font-size: 18px;

}

.card img {
  border-radius: 5px;
  height: 19rem;
  width: 15rem;
}

@media (min-width: 1024px) {

  /* Estilos comuns para os cards ------------------------------------------------------------------------------------------------------------------------------------------- */
  .secao {
    margin: 0;
    width: 50%;
    align-items: center;
    flex: 1;
  }

  .secao-div {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    margin-top: 0px;
    /* margin top abaixou os cards */
    box-sizing: content-box;
  }

  /*cards----------------------------------------------------------------------------*/

  .card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
    padding: 1px;
    border: 1px solid white;
    gap: 15px;
    margin: 20px;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    text-align: center;

  }

  .card-text {
    font-size: 15px;
    text-align: justify;
  }

  .card-title {
    font-size: 23px;

  }

  .card img {
    border-radius: 5px;
    height: 20rem;
    width: 20rem;
  }
}