/* :root {
  --primary-color: #279ca9;
  --second-color: #1d8b98 ;
  --threeth-color: #147a87 ;
  --fourth-color: #0a6875 ;
  --fifth-color: #005764 ;
  --sixth-color: #0a697575;
} */

:root {
  --primary-color: #20448C;
  --second-color: #086CB4 ;
  --threeth-color: #008CDB ;
  --fourth-color: #0286EA;
}


* {
  box-sizing: border-box;
}

html {
  font: 400 62.5% "Inter", sans-serif;
}


/* CODIGO DO BODY */
body {
  background-color: #fff;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin: 0;
  padding: 0;
  height: 100vh;
}

.ch-main-container {
  /* margin-top: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-details {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.title-details h1 {
  margin: 0;
  font-size: 3.6rem;
  color: var(--second-color);
  text-transform: uppercase;
}

.container {
  width: 80%;
  /* padding: 2rem; */
  /* background-color: cornflowerblue; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  max-width: 30rem;
  background-color: #086CB4;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.image-btn {
  cursor: pointer;
}

.image-container {
  /* cursor: pointer; */
  position: relative;
  width: 100%;
  height: 20rem;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.3rem;
  color: white;
  /* background-color: #2b364a71; */
  background-color: #086cb459;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

/* .btn-smais {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
} */

.btn-smais {
  display: flex;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  max-height: 100px;
  overflow: hidden;
  transition: opacity 0.5s ease, visibility 0s 0.1s ease, max-height 0.5s ease;
  background-color: #086CB4;
}

.btn-smais span {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  
  border-radius: 1rem;
  border: solid 2px white;
  text-transform: uppercase;
}

.expand-icon {
  font-size: 2.4rem;
  transition: transform 0.3s ease;
}

/* .card.expanded .expand-icon {
  transform: rotate(180deg);
} */

.card.expanded .btn-smais {
  opacity: 0;
  visibility: hidden;
  max-height: 0; /* Recolhe o espaço do botão */
  transition: opacity 0.5s ease, visibility 0s 0.5s ease, max-height 0.5s ease;
}

.card-content {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  color: #fff;
  font-size: 1.2rem;
  padding: 0 0.8rem;
  text-align: justify;
  transition: opacity 0.5s ease, visibility 0s 0.5s ease, max-height 0.5s ease;
  overflow: hidden;
}

.card.expanded .card-content {
  background-color: #086CB4;
  max-height: 1000px;
  opacity: 1;
  visibility: visible;
  padding: 0.8rem;
  transition: opacity 0.5s ease, visibility 0s 0.1s ease, max-height 0.5s ease;
}

/* .card-content p {
  margin: 0;
  line-height: 1.6;
} */

/* #container {
  background-color: var(--threeth-color);
  
  margin: auto;
  padding: 0.5rem;
  margin-bottom: 3rem;
  border-radius: 8px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
} */

.tab-buttons {
  display: flex;
  gap: 6px;
}

.tab-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  color: #2b364a;
  /* background-color: #fff; */
  border-radius: 8px 8px 0 0;
  font-weight: 500;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tab-btn:hover {
  color: var(--second-color);
}

.tab-btn.active {
  background-color: #086CB4;
  color: #fff;
}


.icon {
  width: 24px;
  height: 24px;
  fill: var(--primary-color); /* Cor do ícone */
}

.content {
  display: none;
}

.content.show {
  display: flex;
  justify-content: center;
  gap: 14px;
  color: #fff;
  background-color: #086CB4;
  border-radius: 0 0 8px 8px;
  padding: 1rem;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.content-title {
  text-transform: uppercase;
  text-align: center;
  padding: 0.5rem;
  margin: 0;
}

.content-description {
  text-align: justify;
  font-size: 15px;
  line-height: 2rem;
  margin: 0;
  animation: show-me 1s ease-in-out;
}

@keyframes show-me {
  from {opacity: 0;}
  to {opacity: 1;}
}

.card-btn, .btn-rota {
  background-color: #086CB4;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  max-height: 0; /* Recolhe o espaço do botão */
  margin: 0;
  transition: opacity 0.3s ease, visibility 0s 0.5s ease, max-height 0.4s ease, margin 0.5s ease;
}


.card.expanded .card-btn {
  opacity: 1;
  visibility: visible;
  max-height: 100px;
  overflow: hidden;
  transition: opacity 0.4s ease, visibility 0s 0.2s ease, max-height 0.4s ease;
}


.card.expanded .btn-rota {
  opacity: 1;
  visibility: visible;
  max-height: 100px;
  overflow: hidden;
  margin: 0.5rem 0;
  transition: opacity 0.4s ease, visibility 0s 0.2s ease, max-height 0.4s ease;
}


.card-btn a {
  color: var(--fourth-color);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #6cf3d5;
  border-radius: 1rem;
  border: solid 2px white;
  display: inline-block;
}

.card-btn a:hover {
  background-color: #5ae0c2;
  transition: background-color 0.3s ease;
}

.btn-rota a {
  color: var(--fourth-color);
  font-size: 1rem;
  font-weight: bold;
  padding: 0.8rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #6cf3d5;
  border-radius: 1rem;
  border: solid 2px white;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-rota i {
  font-size: 2rem;
  color: var(--fourth-color);
}

.btn-vmais {
  padding: 4rem;
}

.btn-vmais a {
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  background-color: #6cf3d5;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 1rem;
  text-shadow: 0.4rem 0.4rem 1rem #005764;
}


@media screen and (max-width: 480px) {
  /* .ch-main-container {

  } */
}

/* / Mobile / */
@media(max-width: 480px) {
  .container {
      width: 100%;
  }
}